body {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #f5f5f5;
    font-size: 22px;
}

body header {
    padding: 15px;
    text-align: center;
    font-size: 36px;
}

body h2 {
    text-align: center;
    font-size: 30px;
}

body iframe {
    text-align: center;
    border: 2px solid darkgray;
}

.intro {
    text-align: center;
}

.job {
    text-align: center;
    padding-top: 10px;
}

.interactive {
    text-align: center;
}

.d3 {
    text-align: center;
}

.gender {
    text-align: center;
    padding-top: 10px;
}

.d3Vis {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
